<span style="font-size:2em;"><span style="font-weight:bold">stdio</span><span style="color:orange">.</span>kr</span> <span style="color:lightgray">by jein</span>
<p style="color:gray; font-size:0.8em;">
	<strong style="color:black">더 나은 프로그래머가 되기 위해서</strong>, 배운 것, 깨달은 것들을 나누는 곳입니다. <br>
	딥러닝(Tensorflow, RNN), 데이터과학, 알고리즘, Docker, Rails 등에 관심이 있으며,<br>
	다른 주제(정치, 독서)에 대해서도 환영입니다. 
	누구나 자유롭게 이용 가능하며, 현재 사이트 구축 중입니다.<br>
	또한<span style="color:red"> 누구나 서비스 개선<span style="color:black">(Ruby on Rails구현)</span>에 참여</span>할 수 있습니다(010-4849-7320) <a target="_blank" href="https://github.com/songjein/stdio">Github 바로가기</a>
</p>

<div class="divider"></div>
<h3>Funtions</h3>
<ul>
	<li>글쓰기 
			:	<%= link_to '코드', new_article_path%>
			/	<%= link_to '책내용', new_article_path%>
			/	<%= link_to '링크', new_article_path%>
			/	<%= link_to '기타', new_article_path%>
	</li>
	<li><%= link_to '목표 (To do list)', goals_path %></li> 
	<li><%= link_to '통계 (Statistics)', "#" %><span style="font-size:0.8em; color:gray;">(목표 달성 정도 및 개인 데이터 분석)</span></li>
</ul>
<br>

<div class="divider"></div>
<h3>Recent Articles</h3>
<ol>
<% @articles.each do |article| %>
	<li>
		<%= link_to article.title, article_path(article) %>
		<%# link_to '수정', edit_article_path(article) %>
		<%# link_to '삭제', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %>
	</li>
<% end %>
</ol>

<div class="divider"></div>
<h3>Topics</h3>
<div>
	<span style="color:red; font-size: 2em;">딥러닝</span>	
	<span style="color:green; font-size: 1.5em;">알고리즘</span>	
	<span style="color:blue; font-size: 1.2em;">Docker</span>	
	<span style="color:orange; font-size: 2em;">Rails</span>	
	<span style="color:purple; font-size: 1.8em;">테스트</span>	
	<span style="color:green; font-size: 1.5em;">알고리즘</span>	
	<span style="color:orange; font-size: 2em;">Rails</span>	
	<span style="color:red; font-size: 2em;">딥러닝</span>	
	<span style="color:purple; font-size: 1.8em;">테스트</span>	
	<span style="color:blue; font-size: 1.2em;">Docker</span>	
</div>
