<style>
	u{
		font-weight: bold;	
	}
</style>
<h3>프로젝트 아이디어 ;</h3>
<p> <u>새로운 게시판 ;</u> 광활한 ? 웹 페이지를 공간에, 글을 남긴다 ; 글은<u> 위치</u>를 가진다 ; 그 공간을<u> '누빈다'</u> ; 비슷한 글은 <u>모인다</u> </p>
<p>공간은 드래그를 이용해 움직일 수 있으며, 휠로써 보이는 level을 조정할 수 있다.</p>
<p>필터링 ; 각 토픽 마다로 한정 지을 수도 있고, 전체를 누빌 수 도 있다.</p>
<p>실제 나라 위치도 첨가하면 .. 지도도 그릴 수 있을 듯 + 어떤 토픽이 어디어 발생하는지</p>
<p>아무튼,, 글마다 x,y를 가지고 있으니까 이전에 종료 했던 부분의 좌표 근방에 있는 글들을 서버로 부터 얻어와서 뷰에 뿌려주는거</p>
<p>다음으로 가는 기능, 어디든 찍고 글을 쓸 수 있어야 됨.  이미지도 올릴 수 있으면 좋지 그런데 하나의 글로 묶여야해, 하나의 템플릿을 제공하면 좋을 듯</p>
<p>글 제목을 드래그 해서 어디듬 옮길 수 있고, 글 간의 충돌 체크도 해야되고, 배경도 정할 수 있어</p>
<p>글을 누르면 수정할 수 있는 모달이 뜨는게 나을 지도</p> 
<p>레벨 별로, 태그 / 제목 / 상세 이런식 ? 기본 단위는토픽?? 몰겟따</p> 
<hr>
<ul>
	<li><%= link_to '글쓰기', new_article_path%></li>
	<li><%= link_to '목표 (To do list)', goals_path %></li> 
</ul>
<hr>

<canvas id="textMap" >
</canvas>

<script>
	$(function(){
		var canvas = document.getElementById('textMap');
		canvas.width = window.innerWidth; 
		canvas.height = window.innerHeight; 

		if (canvas.getContext){
			var ctx = canvas.getContext('2d');

			x = Math.floor(Math.random() * window.innerWidth/1.5) 
			y = Math.floor(Math.random() * window.innerHeight/1.5) 
			ctx.fillStyle = "rgb(200,0,0)";
			ctx.fillRect (x ,y,50,50);

			x = Math.floor(Math.random() * window.innerWidth/1.5) 
			y = Math.floor(Math.random() * window.innerHeight/1.5) 
			ctx.fillStyle = "orange";
			ctx.fillRect (x , y,100,50);

			x = Math.floor(Math.random() * window.innerWidth/1.5) 
			y = Math.floor(Math.random() * window.innerHeight/1.5) 
			ctx.fillStyle = "rgba(0,0,200,0.5)";
			ctx.fillRect (x , y,100,150);

			x = Math.floor(Math.random() * window.innerWidth/1.5) 
			y = Math.floor(Math.random() * window.innerHeight/1.5) 
			ctx.fillStyle = "green";
			ctx.fillRect (x , y,70,100);

			// drawing code here
		} else {
			// cnavas-unsupported code here	
		}

		// https://developer.mozilla.org/ko/docs/Web/API/Canvas_API/Drawing_DOM_objects_into_a_canvas
		var data = [];
		var DOMURL =  [];
		var img =  [];
		var svg = [];
		var url = [];
		<% Article.all.each_with_index do |article, idx| %>
		data[<%=idx%>] = '<svg xmlns="http://www.w3.org/2000/svg" width="200" height="200">' +
								 '<foreignObject width="100%" height="100%">' +
									 '<div xmlns="http://www.w3.org/1999/xhtml" style="font-size:15px">' +
												'<div><%= link_to article.title, article_path(article) %></div>'+
									 '</div>' +
								 '</foreignObject>' +
							 '</svg>';

		DOMURL[<%=idx%>] = window.URL || window.webkitURL || window;

		img[<%=idx%>] = new Image();
		svg[<%=idx%>] = new Blob([data[<%=idx%>]], {type: 'image/svg+xml;charset=utf-8'});
		url[<%=idx%>] = DOMURL[<%=idx%>].createObjectURL(svg[<%=idx%>]);

		img[<%=idx%>].onload = function () {
			x = Math.floor(Math.random() * window.innerWidth/1.5) 
			y = Math.floor(Math.random() * window.innerHeight/1.5) 
			ctx.drawImage(img[<%=idx%>], x, y);
			DOMURL[<%=idx%>].revokeObjectURL(url[<%=idx%>]);
		}

		img[<%=idx%>].src = url[<%=idx%>];
		<% end %>
	})
		
</script>



<!--
<div class="columns">
	<div class="column col-6">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Recent Articles</th>
				</tr>
			</thead>
			<tbody>
					<% @articles.each do |article| %>
					<tr>
						<td>
							<%= link_to article.title, article_path(article) %>
							<%# link_to '수정', edit_article_path(article) %>
							<%# link_to '삭제', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %>
						</td>
					</tr>
					<% end %>
			</tbody>
		</table>
	</div>

	<div class="column col-6">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Popular Articles</th>
				</tr>
			</thead>
			<tbody>
					<% @articles.shuffle.each do |article| %>
					<tr>
						<td>
							<%= link_to article.title, article_path(article) %>
							<%# link_to '수정', edit_article_path(article) %>
							<%# link_to '삭제', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %>
						</td>
					</tr>
					<% end %>
			</tbody>
		</table>
	</div>
</div>
-->
