<style>
	* { font-family: 'Spoqa Han Sans', serif; }

	.title{
		font-weight: 1.2em;	
	}
	.datetime{
		color:rgb(170,170,170);
	}

	.news-container{
		margin-top: 5px;		
	}

	.newsname{
		color: rgb(150,150,150);
		font-weight: bold;	
	}

	.selected{
		background:yellow;
	}

	#title{
		color: black;	
	}

	#hot-topics{
		width: 500px;
	}

	.hot-topic{
		color: rgb(150,150,150);		
		cursor: pointer;
	}

</style>

<!--<div class="jumbotron" style="background-image: url(<%= image_path 'bg.jpg' %>); background-size: 100% 100%;">-->
<div class="jumbotron">
	<center>
		<div class="container" >
			<% ca = ['#EDD200', 'green', 'navy', 'purple'] %>
			<a id="title" href="/news"><span style="font-weight:bold;font-size:3.5em;color:<%=ca[rand(0..4)]%>">Polatics</span></a>
			<br>
			<span style="font-size:1.2em;" ><strong>진보, 보수</strong> 신문기사에 대한 제목 검색이 가능합니다</span><br>
			<span style="color:rgb(150,150,150)">- <span style="color:black"><%=time_ago_in_words(HotTopic.last.created_at)%></span> 전에 업데이트 됨 -</span>

			<div style="margin-top: 30px"></div>

			<div class="form-inline">
				<div class="form-group" style="width:50%">
					<input id="search_form" type="text" class="form-control input-lg" style="width:100%" placeholder="검색어를 입력하세요" value="<%=@search_term%>">
				</div>
				<%= link_to "검색", "#", class: "btn btn-default btn-lg", id:"search_submit" %>
			</div>

			<div style="margin-top: 30px"></div>

			<div id="hot-topics">
				핫토픽:
				<% HotTopic.all.reverse[0..19].reverse.each do |h| %>
					<span class="hot-topic"><%= h.topic%></span>&nbsp;
				<% end %>
			</div>

		</div>
	</center>
</div>



<div class="container">
	
	<div style="width:50%; float:left">
		<% if @lefts.length == 0 %>
			- 진보 신문의 검색 결과가 없습니다 -
		<% end %>
		<% @lefts.each do |news| %>	
			<div class="news-container">
				<span class="title"><%= link_to news.title.html_safe, news.news_url, target: "_blank" %></span>
				<span class="newsname">@<%= news.news_name%></span>
				<span class="datetime"><%=time_ago_in_words(news.news_time)%> 전</span>
				<br>
			</div>
		<% end %>
	</div>

	<div style="width:50%; float:left">
		<% if @rights.length == 0 %>
			- 보수 신문의 검색 결과가 없습니다 -
		<% end %>
		<% @rights.each do |news| %>	
			<div class="news-container">
				<span class="title"><%= link_to news.title.html_safe, news.news_url, target: "_blank" %></span>
				<span class="newsname">@<%= news.news_name%></span>
				<span class="datetime"><%=time_ago_in_words(news.news_time)%> 전</span>
				<br>
			</div>
		<% end %>
	</div>

</div>

<script>
	$(function(){

		// 나중에 하이라이트 펑션에 쓸 함수
		$("#").click(function(){
			search_term = $("#search_form").val()
			$(".title").each(function(index){
				$(this).html(
						$(this).html()
						.replace(search_term, "<span class='selected'>" + search_term +"</span>")
				)
			})
			return false;
		})				

		$('#search_submit').click(function(){
			return false;
		})

		<%# search term highlight %>
		<%# search term highlight %>
		<% if @search_term %>
			search_term = $("#search_form").val()
			$(".title").each(function(index){
				$(this).html(
						$(this).html()
						.replace(search_term, "<span class='selected'>" + search_term +"</span>")
				)
			})
		<% end %>

		// 엔터 이벤트
		$('#search_form').keyup(function(e) {
			if (e.keyCode == 13) {
				window.location = '/news?search_term=' + $("#search_form").val();
			} 
		});

		$('.hot-topic').click(function(){
				window.location = '/news?search_term=' + $(this).html() 
		})
	})
</script>
