<%= form_for @goal do |f| %>
	<% if @goal.errors.any? %>
		<div id="error_exaplanation">
			<h2>
				<%= pluralize(@goal.errors.count, "error") %> prohibited
				this article from being saved:
			</h2>
			<ul>
				<% @goal.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :title %></br>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>
